.select {
	border: 1px solid hsl(from var(--background) h s calc(l + 30));
	padding: 5px 10px;
	border-radius: 0.5rem;

	@media (prefers-color-scheme: dark) {
		color: white;
		background-color: var(--background);
	}
}
