.grid {
	display: grid;
}

.grid thead,
.grid tbody,
.grid tr {
	display: contents;
}

.grid td {
	display: flex;
	padding-left: 0.5rem;
}

.grid th {
	position: sticky;
	top: 0;
	display: flex;
	align-items: center;
	min-height: 35px;
	background-color: #384353;
	padding-left: 0.5rem;
}
